{{- $is_wsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{- $is_deck := (and (eq .chezmoi.os "linux") (exists "/usr/bin/steamos-session-select")) -}}

{{/* Unix XDG */}}
{{ $XDG_BIN := ".local/bin" }}
{{ $XDG_CACHE := ".cache" }}
{{ $XDG_CONFIG := ".config" }}
{{ $XDG_DATA := ".local/share" }}
{{ $XDG_RUNTIME_DIR := joinPath "/run/user" (env "UID") }}
{{ $XDG_STATE := ".local/state" }}

{{/* Windows XDG */}}
{{ if eq .chezmoi.os "windows" }}
  {{ $XDG_CACHE = env "TEMP" }}
  {{ $XDG_CONFIG = env "APPDATA" }}
  {{ $XDG_DATA = env "LOCALAPPDATA" }}
  {{ $XDG_RUNTIME_DIR := env "TEMP" }}
  {{ $XDG_STATE = env "LOCALAPPDATA" }}
{{ end }}

data:
  xdg:
    bin: "{{- joinPath .chezmoi.homeDir $XDG_BIN -}}"
    cache: "{{- joinPath .chezmoi.homeDir $XDG_CACHE -}}"
    config: "{{- joinPath .chezmoi.homeDir $XDG_CONFIG -}}"
    data: "{{- joinPath .chezmoi.homeDir $XDG_DATA -}}"
    runtime_dir: "{{- joinPath .chezmoi.homeDir $XDG_RUNTIME_DIR -}}"
    state: "{{- joinPath .chezmoi.homeDir $XDG_STATE -}}"
    relative:
      bin: "{{- $XDG_BIN -}}"
      cache: "{{- $XDG_CACHE -}}"
      config: "{{- $XDG_CONFIG -}}"
      data: "{{- $XDG_DATA -}}"
      runtime_dir: "{{- $XDG_RUNTIME_DIR -}}"
      state: "{{- $XDG_STATE -}}"