# Include defaults
. "${XDG_CONFIG_HOME:-{{ .xdg.config }}}/sh/rc"

# Configure ZSH
export ZSH="${XDG_CONFIG_HOME:-{{ .xdg.config }}}/.oh-my-zsh"
export ZSH_CACHE="${XDG_CACHE_HOME:-{{ .xdg.cache }}}/zsh"
export ZSH_CACHE_DIR="$ZSH_CACHE"
export ZSH_COMPDUMP="${XDG_CACHE_HOME:-{{ .xdg.cache }}}/zsh/.zcompdump"
export ZSH_CONFIG="${ZDOTDIR:-${XDG_CONFIG_HOME:-{{ .xdg.config }}}/zsh}"
export ZSH_CUSTOM="$ZSH_CONFIG/custom"
export ZSH_STATE="${XDG_STATE_HOME:-{{ .xdg.state }}}/zsh"
mkdir -p $ZSH_CONFIG $ZSH_STATE $ZSH_CACHE

# Download and source Znap, if it's not there yet.
[[ -r "$ZSH_CUSTOM/plugins/znap/znap.zsh" ]] ||
    git clone --depth 1 -- \
        https://github.com/marlonrichert/zsh-snap.git "$ZSH_CUSTOM/plugins/znap"
source "$ZSH_CUSTOM/plugins/znap/znap.zsh"

# Core plugins
znap source jandamm/zsh-interactive-cd
znap source marlonrichert/zsh-autocomplete
znap source zsh-users/history-substring-search
znap source zsh-users/zsh-colored-man-pages
znap source zsh-users/zsh-navigation-tools
znap source zsh-users/zsh-syntax-highlighting

# OMZ plugins
znap source ohmyzsh/ohmyzsh plugins/chezmoi
znap source ohmyzsh/ohmyzsh plugins/colorize
znap source ohmyzsh/ohmyzsh plugins/encode64
znap source ohmyzsh/ohmyzsh plugins/extract
znap source ohmyzsh/ohmyzsh plugins/eza
znap source ohmyzsh/ohmyzsh plugins/genpass
znap source ohmyzsh/ohmyzsh plugins/grc
znap source ohmyzsh/ohmyzsh plugins/git-lfs
znap source ohmyzsh/ohmyzsh plugins/gitfast
znap source ohmyzsh/ohmyzsh plugins/gradle
znap source ohmyzsh/ohmyzsh plugins/hitokoto
znap source ohmyzsh/ohmyzsh plugins/node
znap source ohmyzsh/ohmyzsh plugins/please
znap source ohmyzsh/ohmyzsh plugins/rust
znap source ohmyzsh/ohmyzsh plugins/sudo
znap source ohmyzsh/ohmyzsh plugins/themes

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='nvim'
# fi

# Auto-complete
source <(pnpm completion zsh)
