XDG_BIN_HOME={{ .xdg.bin }}
XDG_CONFIG_HOME={{ .xdg.config }}
XDG_DATA_HOME={{ .xdg.data }}
XDG_CACHE_HOME={{ .xdg.cache }}
XDG_RUNTIME_DIR={{ .xdg.runtime_dir }}
XDG_STATE_HOME={{ .xdg.state }}
PATH={{ .xdg.bin }}:${PATH}