# ~/.config/environment.d/10-xdg.conf
XDG_CONFIG_HOME=/home/${USER}/.config
XDG_DATA_HOME=/home/${USER}/.local/share
XDG_CACHE_HOME=/home/${USER}/.cache
XDG_STATE_HOME=/home/${USER}/.local/state
PATH=/home/${USER}/.local/bin:${PATH}
